.contacts-main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 20px;
}

.contacts-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact-info, .contact-form {
  flex: 1 1 400px;
  background-color: #ffffff;
  padding: 20px 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info a {
  color: #49111C;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Адаптивність */
@media (max-width: 700px) {
  .contacts-container {
    flex-direction: column;
    gap: 20px;
  }
}
