.index-main section {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background: var(--white);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  text-align: center;
  box-sizing: border-box;
}

.index-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section {
  background: var(--white);
  padding: 50px 40px;
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  text-align: center;
}

/* Жанри */
.genres ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.genres li {
  background-color: var(--bg-light);
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.genres li:hover {
  background-color: var(--accent-red);
  color: var(--white);
}

.featured-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.book {
  width: 200px; /* Фіксована ширина картки */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book img {
  width: 100%;
  height: 280px;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Підписка */
.newsletter form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}
